body {
    background-color: #3F3B3B;
    font-family: Georgia;
    overflow-x: hidden;
    color: #F2E1E1;
}

li {
    line-height: 35px;
}

nav {
    background-color: #000035;
    border-radius: 0 0 10px 10px;
}

#navPageButtons li {
    font-size: 18px;
    margin-right: 20px;
}

.social-icon {
    margin-right: 30px;
    transition: box-shadow 0.3s ease;
}

.social-icon:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

#background-photo {
    position: fixed;
    height: 100%;
    width: 100%;
}

#background-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -1;
    animation: appear 2.5s ease-in-out forwards;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background-image: url('../media/photos/telegram-flight-background.jpg');
    animation: appear 2.5s ease-in-out forwards;
}

.above-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 53, 0.5), rgba(0, 0, 53, 1));
    opacity: 0.4;
    z-index: 0;
}

.main-text {
    position: relative;
    max-width: 1000px;
    margin: auto;
    top: 30vh;
    color: #F2E1E1;
    text-align: center;
}

.main-text h1 {
    font-size: 48px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    line-height: 65px;
    animation: fadeInUp 2s ease-in-out;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.main-text p {
    font-size: 20px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    line-height: 30px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.main-text h1:hover {
    color: rgba(105, 176, 255, 1);
    text-shadow: 3px 3px 5px rgba(105, 176, 255, 0.6);
}

.main-text p:hover {
    color: rgba(105, 176, 255, 1);
    text-shadow: 2px 2px 4px rgba(105, 176, 255, 0.6);
}

.github-icon {
    transform: scale(1.2);
    transition: box-shadow 0.3s ease;
    margin-bottom: 50px;
    animation: fadeInUpLogo 2s ease-in-out;
}

.github-icon:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.scroll-down-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    color: #F2E1E1;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 2s infinite;
}

.scroll-down-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    width: 10px;
    height: 10px;
    border-left: 2px solid #F2E1E1;
    border-bottom: 2px solid #F2E1E1;
    transform: rotate(-45deg);
}

.project-description-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 100vh;
    height: 100%;
    opacity: 0.9;
    z-score: 1;
    overflow: hidden;
    position: relative;
}

.project-description-container h2 {
    margin-bottom: 3%;
    text-align: center;
    border-bottom: 2px solid #000035;
    padding-bottom: 10px;
}

#project-description-scroll {
    position: relative;
    top: 10vh;
    background-color: rgba(63, 59, 59, 0.9);
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 10vh;
}

#container-image {
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 3%;
}

.carousel-inner-fill {
    width: 100%;
    height: 100%;
}

.carousel-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    position: relative; /* Ensure proper positioning */
}

.video-carousel {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpLogo {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1.2);
    }
}

@keyframes fadeInUpLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInUpRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0)  translateX(-50%);
    }
    40% {
        transform: translateY(-10px)  translateX(-50%);
    }
    60% {
        transform: translateY(-10px)  translateX(-50%);
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 12px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    .main-text h1 {
        font-size: 36px;
    }

    .main-text p {
        font-size: 18px;
    }
    .main-text {
        top: 20vh;
    }
    li {
        font-size: 12px;
    }
}
